.flag {
  line-height: 1.4;
  border-radius: 0;
  transition: all .2s ease-in-out;
  display: inline-block;
  height: 12em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.message {
  height: 2em;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.countries {
  > a {
    display: flex;
    align-items: center;
    font-size: 3em;
    justify-content: center;

    > img {
      margin-left: 1em;
      margin-right: .5em;
      width: 70px;
      border: 1px solid #fff;
    }
  }
}

@media screen and (max-width: 415px) {
  .categories {
    h2 {
      font-size: 1.4em;
      line-height: .9em;
      margin-bottom: .5em;
    }
    h4 {
      font-size: 1em;
      line-height: 1em;
      margin-bottom: .5em;
      font-style: italic;
    }
  }

  .countries {
    > a {
      font-size: 1em !important;
      line-height: 1em;

      > img {
        width: 45px;
        margin-left: .4em;
      }
    }
  }
}