// colors
$primary: #f4c01a;
$secondary: #0d6632;

$black: #222;
$white: #fff;

$grey1: #555;
$grey2: #999;
$grey3: #ccc;
$grey4: #ddd;
$grey5: #eee;

$blue1: #008cba;
$blue2: #0079a1;
$blue3: #add8e6;
$blue4: #2196f3;

$green1: #43ac6a;
$green2: #3c9a5f;
$green3: #90ee90;

// components
$max-header-width: 940px;
$max-content-width: 580px;
