// colors
$primary: #f4c01a;
$secondary: #0d6632;

$color1: #000;
$color2: #fff;

$grey1: #555;
$grey2: #999;
$grey3: #ccc;
$grey4: #ddd;

$blue1: #008cba;
$blue2: #0079a1;
$blue3: #add8e6;

$green1: #43ac6a;
$green2: #3c9a5f;
$green3: #90ee90;

// components
$max-width: 500px;
